body{background:rgba(100,84,82,.7);border:rgba(100,84,82,.3);}
.header{border:5px solid rgba(255,160,137,.6);display:fixed;height:40px;}
.none{border:5px solid rgba(245,222,179,.5);color:rgba(218,29,129,.8);font-weight:bold;text-align:center;text-decoration:none;height:40px;width:98px;}
