body{background:rgba(227,218,201,.5);}
.flex{display:flex;}
.header,.footer{background:#2c3e50;height:40px;width:822px;color:#ecf0f1;}
.none{text-decoration:none;}
.article{background:#f1c40f;height:17751px;width:822px;}
.toggle{background:#f39c12;height:209px;width:70px;}
.icon-menu{background:#9b59b6;height:70px;width:70px;}
.icon-menu::before{background:#2ecc71;height:25px;width:24px;z-index:1;content:'Hi!';}
.container{background:#bdc3c7;height:17701px;width:535px;}
.cardHeader{background:#2980b9;height:64px;width:535px;}
.video{background:#95a5a6;height:535px;width:535px;}
