.none{color:rgba(253,245,230,.85);font-weight:bold;text-decoration:none;}
.container{margin:5px;border:4.5px solid rgba(128,128,0,.25);}
#container{display:flex;width:800px;background:rgba(255,110,74,.8);flex-wrap:nowrap;}
#container::before{content:'AM08:00-PM0900';height:50%;width:0;display:inline-block;position:relative;vertical-align:middle;border:4.5px solid rgba(192,128,129,.5);z-index:999;}
