body{
  background:#fffdd0;
}
.container{
  background:#8f00ff;
  border:20px #cc00cc;
  height:500px;
  margin:0;
  padding:0;
  position:flex;
  width:400px;
}
.footer{
  background:#50c878;
  border:2px #cc00cc;
  bottom:0;
  height:20px;
  margin:0;
  padding:10px #f0f;
  position:absolute;
  right:0;
  width:40px;
}
.none{
  color:white;
  font:bold 100%/1.8em cursive;
  text-align:center;
  text-decoration:none;
}
.none:link,.none:visited{
  color:#ff1493;
  text-decoration:none;
}
/*set basic above*/
.button{
  background:rgba(0,114,187,.8);
  border-width:40px 30px 20px 30px;
  border-style:solid;
  border-color:folly forest-green french-beign french-blue;
  height:50px;
  width:50px;
  z-index:1;
}
.button::before,
.button::after{
  background:yellow;
  border:5px solid white;
  content:'click here';
  height:20px;
  position:relative;
  width:20px;
  z-index:2;
}
/*button setting above*/

/*letter icon setting above*/
