body{background:rgba(220,198,224,.85);margin:0 auto;}
.section{display:flex;flex-wrap:wrap;margin:5px;width:300px;height:150px;}
.section1{background:rgba(219,10,91,.85);}
.section2{background:rgba(246,71,71,.85);}
.section3{background:rgba(102,51,153,.85);}
