body{background:rgba(154,205,50,.8);}
.header{display:block;font-size:20px;height:167px;margin:3px 18px;padding:0 22px;width:650px;}
.mainNav{position:absolute;top: 65px;left: 650px;width: 250px;padding: 10px 0;overflow: hidden;}
.menu{display: block;list-style: none;margin: 0 0 6px;padding: 0;width: 220px;}
.none{color:rgba(99,81,71,.6);font-weight:bold;text-align:center;text-decoration:none;}
p{display: block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
form{display: block;margin: 0;padding: 0;}
.social{float: right;display: inline;margin-right: 10px;margin-top: 10px;list-style: none;}
.rss{float: right;display: inline;margin-right: 10px;margin-top: 10px;list-style: none;}
