.none{font-size:bold;text-align:center;text-decoration:none;}
body{background:rgba(255,160,122,.5);}
article{color:white;font-size:bold;background:rgba(177,156,217,.5);border-radius:5%;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.block{display:block;}
