body{background:rgba(255,245,238,.7);}
.fixed{display:fixed;}
.none{color:white;font-weight:bold;text-align:center;text-decoration:none;}

.article{border:10px solid rgba(255,36,0,.6);height:41px;width:844px;}
.head{border:10px solid rgba(255,216,0,.6);height:48px;width:844px;}
.container{border:10px solid rgba(50,20,20,.8);height:422px;width:844px;}
.flex{display:flex;}
.flex:nth-child(1n){border:10px solid rgba(118,255,122,.8);height:81px;width:844px;}
.flex:nth-child(2n){border:10px solid rgba(0,105,148,.8);height:422px;width:844px;}
.flex:nth-child(3n){border:10px solid rgba(46,139,87,.8);height:142px;width:844px;}
