body{background:rgba(191,255,0,.8);}
.none{color:rgba(50,205,50,.8);font-size:bold;text-decoration:none;}
.drawer-nav{display:block;right:-100px;background:rgba(25,89,5,.5);position:absolute;top:0;height:100%;width:50%;font-family: 'Gotham_SSm_5r',Helvetica,Arial,sans-serif;}
