body {background:#ebebeb;}
.block {width:1260px;margin:00px auto;font: 13px/18px "Lucida Sans", Helvetica, Arial, sans-serif;background:#fff68f;}
.h1{font: bold 16px/16px "Lucida Sans", Helvetica, Arial, sans-serif;}
