.flex{display:flex;border-top:100px dotted purple;border-right:20px solid blue;border-bottom:50px dotted yellow;border-left:60px solid red;}
.none{background:rgba(15,15,15,.7);color:rgba(253,245,230,.5);font-weight:bold;text-align:center;text-decoration:none;}
/*background-related*/
.flex:nth-child(1n){background-image:linear-gradient(to bottom, #f2718b, #f2718b 10px,#bbaaee 10px, #bbaaee 50px, #ffc1c1 50px, #ffc1c1);}
.flex:nth-child(2n){background:#fff796;}
.flex:nth-child(3n){padding:16px;background-image:linear-gradient(to bottom, #f2718b, #f2718b 10px,#bbaaee 10px, #bbaaee 50px, #ffc1c1 50px, #ffc1c1);}
