a,.none{color:rgba(255,180,181,.95);list-style:none;text-align:center;text-decoration:none;}
body{background-image:radial-gradient(50% 40%, rgba(255,255,180,.25) 0, rgba(255,255,180,.65) 100%);display:flex;margin:0;padding:0;}
/*list-setting*/
.list-link{-webkit-tap-highlight-color:rgba(180,218,255,.95);text-decoration:none;-webkit-touch-callout:none;-webkit-user-select:none;}
.list-link.tap{background:rgba(218,180,255,.85);}
/*footer-setting*/
.footer{background:rgba(255,180,185,.95);bottom:5%;left:5%;margin:0 auto;padding:5px auto;position:fixed;width:90%;}
.footer a{background:rgba(255,255,180,.95);height:90px;position:relative;width:100px;}
.footer a::before,.footer a::after{background:rgba(255,255,180,.85);border-radius:50px 50px 0 0;content:"";height:80px;position:absolute;top:0;width:50px;}
.footer a::before{left:50px;transform:rotate(-45deg);transform-origin:0 100%;}
.footer a::after{left:0;transform:rotae(45deg);transform-origin:100% 100%;}
