.header{background:rgba(245,222,179,.3);border:.5em solid rgba(252,108,133,.8);}
h1{font-size:3em;padding:0 0 5px;font-family: 'MuseoSans500', sans-serif;margin: .75em 0 .5em 0;font-weight: normal;color: #666;line-height: normal;position: relative;}
.pageContent{background:rgba(252,108,133,.4);border:.75em solid rgba(245,222,179,.8);}
