/*background*/
.fixed{display:fixed;width:98%;border:1px solid transparent;over-flow:auto;}
.fixed:nth-child(1){height:60vh;background:rgba(255,0,85,.95);top:0;}
.fixed:nth-child(2){height:40vh;background:rgba(255,255,0,.95);bottom:0;}
.none{color:rgba(255,255,255,.95);font-size:20px;text-decoration:none;}
/*pack*/
.container{display:block;}
.flex{display:flex;flex-wrap:nowrap;height:stretch;width:calc(98%/3);z-index:1;}
.pink-1,.pink-2,.pink-3{z-index:0;}
.pink-1{background:rgba(255,0,85,.95);}
.pink-2{background:rgba(255,59,124,.75);}
.pink-3{background:rgba(255,0,213,.65);}
/*round*/
.circle,.candy-1 ~ .candy-3{border:2px dotted rgba(255,255,250,.95);border-radius:100%;padding:5px;}
.circle{z-index:2;height:300px;width:300px;background:rgba(119,0,179,.85);top:20vh;width:-5vw;}
.candy-1,.candy-2,.candy-3{z-index:3;height:30px;width:30px;line-height:.5px;position:relative;}
.candy-1{background:rgba(255,3,15,.95);}
.candy-2{background:rgba(255,243,3,.95);}
.candy-3{background:rgba(3,141,255,.95);}
