.container{border:1px double rgba(81,192,190,.95);border-radius:10%;height:50%;margin:1em;max-width:98%;}
.flex{display:flex;flex-direction:column;flex-wrap:nowrap;border:1px solid rgba(243,245,19,.95);height:25%;top:5%;margin:1em;width:200px;}
.none{font-size:20px;font-weight:normal;text-align:center;text-decoration:none;}
.feature,.task{display:flex;flex-wrap:wrap;width:90px;margin:2px auto;border:1px solid rgba(253,19,68,.95);border-radius:5px;}
.feature{height:60px;}
.task{height:30px;}
/*to be checked*/
.justify{background:rgba(243,187,188,.55);}
.flex1{background:rgba(210,224,78,.55);justify-content:flex-start;}
.flex2{background:rgba(60,189,255,.55);margin:5px;}
