body{margin:0;}
.fixed{background:rgba(255,204,0,.95);bottom:0;display:fixed;}
.grid{display:grid;}
.grid .card:not(:nth-child(4)),.none{color:rgba(240,240,2400,.95);text-align:center;text-decoration:none;}
.color-4{color:rgba(255,205,0,.95);text-align:center;text-decoration:none;}
/*item-setting*/
.color-1{background:rgba(245,196,190,.95);}
.color-2{background:rgba(239,106,182,.95);}
.color-3{background:rgba(218,27,169,.95);}
.color-4{background:rgba(248,252,103,.95);}
