body{background:rgba(141,182,0,.85);margin:0 auto;}
.container{background:rgba(111,182,0,.85);width:800px;height:600px;}
.section{display:flex;flex-wrap:wrap;margin:5px;width:300px;height:150px;}
.fixed{bottom:1%;position:fixed;}
.footer{background:rgba(96,182,0,.85);}
