body{background:rgba(33,117,217,.45);margin:0;}
.fixed-footer{background:rgba(33,117,217,.85);position:fixed;bottom:5vh;height:60px;width:98%;}
.none{color:rgba(255,153,0,.95);font-size:20px;text-align:center;text-decoration:none;}
