.boxes,.filter{border:1px solid rgba(243,128,81,.85);height:25em;margin-left:100px;width:40%;}
.none{color:rgba(243,128,81,.95);font-weight:bold;line-height:1.5em;text-decoration:none;}
/*check*/
.filter a{position:relative;}
.filter a.active:before{border-color:rgba(179,192,185,.95) transparent transparent transparent;border-width:15px 15px 0 0;border-style:double;content:'hohoho';display:inline-block;height:0;left:0;position:absolute;width:0;top:0;}
/*recall*/
.boxes{display:flex;flex-wrap:wrap;}
.boxes a{border:2px double rgba(254,202,88,.85);margin:0 1% 20px 1%;width:23%;}
