.heading {background:#d19fe8;} /*heading*/
.list {background:#f4bbff;} /*list*/
.button {background:#ff55a3;} /*button*/
.frame-base {background:#fb607f;} /*frame*/
/*the above are the basic must-have template whenever I need to retro later*/
