.footer{margin: 80px 30px;width: 200px;height: 200px;position: relative;background: #fff;float: left;}
.footer:before,.none{content: '';z-index: -1;position: absolute;width: 220px;height: 220px;top: -10px;left: -10px;background-image: linear-gradient(90deg, yellow, gold);}
.nav:before{border: 10px solid repeating-linear-gradient(-45deg,#cc2a2d,#cc2a2d 30px,#f2f2f2 30px,#f2f2f2 40px,#0e71bb 40px,#0e71bb 70px,#f2f2f2 70px,#f2f2f2 80px);}
.none{bottom:0;color:white;font-weight:bold;position:fixed;right:0;text-align:center;text-decoration:none;}
