.bottom{border-bottom:1px dashed rgba(234,53,86,.85);}
.code{background:rgba(237,229,226,.65);border-radius:5px;margin:1.5px;padding:0.35rem;}
.collapse{border-collapse:collapse;}
.march{background:rgba(5,45,84,.85);color:rgba(227,221,135,.95);}
nav td:hover,nav th:hover{padding:30px;}
body:not(.footer){display:flex;flex-direction:row;margin:30px;}
.section-wrapper{flex-direction:column;}
td,th{border:3.5px solid rgba(69,168,237,.85);padding:0.5rem;}
