.none{font-weight:bold;text-decoration:none;}
.triangle{height:0;width:0;border-style:groove;}
.tri-bottom{border-width:0 100px 200px 100px;border-color:transparent transparent rgba(237,130,130,.95) transparent;}
.tri-left{border-width:100px 0 100px 200px;border-color:transparent transparent transparent rgba(255, 253, 157,.95);}
.tri-right{border-width:100px 200px 100px 0;border-color:transparent rgba(247, 208, 140,.95) transparent transparent;}
.tri-top{border-width:200px 100px 0 100px;border-color:rgba(209, 159, 235,.95) transparent transparent transparent transparent;}
