.container{height:0;overflow:hidden;position:relative;padding-left:56.25%;padding-top:30px;}
.container iframe{position:absolute;height:100%;left:0;top:0;width:100%;}
.flex{display:flex;align-self:baseline;}
