body{background:rgba(204,255,0,.95);}
.box,.none{color:rgba(191,0,255,.85);font-weight:bold;text-decoration:none;}
.box{border:3.5px solid rgba(63,0,255,.75);display:flex;height:300px;width:200px;flex-align:center;}
.box-1,.box-2,.box-3{height:300px;line-height:300px;vertical-align:middle;display:inline-flex;}
.container{display:flex;align-items:center;flex-wrap:wrap;}
.box-1{margin-left:15%;margin-right:10%;}
.box-2{margin-left:5%;margin-right:5%;}
.box-3{margin-left:10%;margin-right:15%;}
