.email{border:1.5px solid rgba(132,155,255,.85);}
.email2:invalid{border:1.5px dashed rgba(132,155,255,.85);}
.email2:valid{border:1.5px solid rgba(255,132,155,.85);}
.form{background:rgba(155,255,132,.75);}
