body{background:rgba(227,218,201,.5);}
.flex{display:flex;}
.fixed{position:fixed;bottom:0;}
.header,.footer{background:#2c3e50;height:40px;width:822px;color:#ecf0f1;}
.none{text-decoration:none;}
.timeline{background:#27ae60;background-size:cover;height:256px;width:822px;}
.icon-container{height:256px;width:210px;}
.title{height:256px;width:612px;}
.icon-title{background:#ffae32;height:170px;width:170px;}
.article{background:rgba(241,196,15,.5);height:2140px;width:822px;}
/*.toggle{background:#f39c12;height:1934px;width:252px;display:box;}*/
.toggle{width:calc(65%+10px);background:rgba(0,66,37,.5);}
.icon-menu{height:41px;width:calc(55%+3px);display:inline-box;margin-right:3px;box-align:justify;}
.icon-menu:nth-child(n){background:rgba(203,65,84,.5);}
.icon-menu:nth-child(2n){background:rgba(29,172,214,.5);}
.icon-menu:nth-child(3n){background:rgba(102,255,0,.5);}
.icon-menu:nth-child(4n){background:rgba(191,148,228,.5);}
.icon-menu::before{background:rgba(46,204,113,.5);height:7.2px;width:4.5px;z-index:1;content:'Hi!';border-radius:1.5px;margin-right:1px;margin-bottom:5px;padding:5px;color:#eee;}
.container{background:#bdc3c7;height:2140px;width:calc(80%);}
.cardHeader{background:#2980b9;height:64px;width:535px;}
.video{background:#95a5a6;height:535px;width:535px;}
