body{background:rgba(250,247,85,.85);margin:0 auto;}
.footer{background:rgba(250,247,247,.85);bottom:5%;height:10%;margin:20px;position:fixed;width:80vw;}
.none{color:rgba(250,110,123,.95);font-weight:20px;line-height:1.5;text-align:center;text-decoration:none;}
