body{margin:0;padding:.5em;background:rgba(65,102,245,.75);color:rgba(255,255,102,.85);}
.none{font-size:20px;text-decoration:none;}
/*fix*/
.fixed{border:2.5px groove rgba(245,245,245,.85);background:rgba(255,255,102,.75);position:fixed;}
.fixed-footer{bottom:0;height:10vh;width:98%;}
.fixed-nav{height:40vh;width:calc(100% / 3);}
.nav-center{vertical-align:middle;top:50%;left:50%;bottom:50%;}
.nav-left{left:0;}
.nav-right{right:0;}
/*inside*/
.container{display:flex;}
.container .nav-center-items{flex-wrap:nowrap;}
.nav-center-items,.nav-left-items,.nav-right-items{background:rgba(91,146,229,.85);border:2px dotted rgba(255,204,0,.85);padding:10px;}
.nav-center-items{margin-left:30px;}
