body{background:rgba(227,218,201,.5);}
.line{display:flex;}
.none{text-decoration:none;}
.line,.footer{font-size:18px;font-weight:bold;}
.lastUnit{background:rgba(49,140,231,.5);color:white;}
.size1of1{background:rgba(13,152,186,.5);height:877px;width:164.391px;}
