body{background:rgba(232,216,190,.85);margin:0;}
.checkbox{border:2.5px solid rgba(255,147,30,.95);flex-direction:column;height:100px;position:flex;width:150px;}
.none{color:rgba(179,192,185,.95);cursor:pointer;font-size:20px;font-weight:normal;list-style:none;text-align:center;text-decoration:none;}
