body{background-image:radial-gradient(rgba(255, 229, 89,.65), rgba(255, 190, 91,.65), rgba(237, 109, 84,.65), rgba(221, 71, 71,.65));}
.flex{display:flex;flex-wrap:nowrap;}
.head{font-size:25px;text-align:center;}
