.body{
  background:#eee;
  background-image:
    linear-gradient(to right, rgba(253,245,230,.2) 50%, transparent 0),
    linear-gradient(to top, rgba(253,245,230,.6) 50%, transparent 0);
  background-size:10px, 10px;
  }
.container{display:center;border:5px solid #ff8f00;margin:10px;padding:.5px;text-align:center;}
.flex{display:flex;border:.5em solid #800080;color:#cc8899;margin:10%;padding:0;text-align:center;}
.none{text-decoration:none;}
/*box*/
.bottom,.left,.right,.top{display:box;border:.5px solid #ff355e;margin:.25px;padding:.2px;font-weight:bold;color:white;}
.ordinal-group-1{flex:1;background:#f0f;}.ordinal-group-3{flex:1;background:#0f0;}.ordinal-group-4{flex:2;background:#ff0;}.ordinal-group-2{flex:2;background:#00f;}
.pagination{display:box;}
.wrap{display:inline-flex;}
