.header{
  border:5px solid rgba(168,228,160,.5);
  box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}
.none{text-align:center;text-decoration:none;}
.block{display:block;border:5.5px solid rgba(34,139,34,.5);}
.border-box{box-sizing:border-box;border:2.5px solid rgba(246,74,138,.5);}
.table{display:table;border:4.5px solid rgba(0,114,187,.5);}
.inline-block{display:inline-block;border:3.5px solid rgba(228,132,0,.5);}
.table-row{display:table-row;border:3px solid rgba(255,0,79,.8);}
.table-cell{border:4px solid rgba(166,123,91,.5);display:table-cell;font-weight:bold;text-align:center;color:white;}
.table-cell:nth-child(1){background:rgba(34,139,34);}
.table-cell:nth-child(2){background:rgba(246,74,138);}
.table-cell:nth-child(3){background:rgba(228,132,0);}
.table-cell:nth-child(4){background:rgba(0,114,187);}
.table-cell:nth-child(5){background:rgba(166,123,91);}
