*{
background-color: #f7cac9;
}
.pack{
  display: inline-box;
  height: 90px;
  margin: 30px;
  position: relative;
  width: 120px;
  background-color: #92a8d1;
}
.face {
  height: 100px;
  position: absolute;
  width: 100px;
  top: 250px;
  left: 300px;
  background-color: #f0f4f8;
  border-radius: 50%;
}
