body {
  background-image:
    -webkit-linear-gradient(#FF9E7E 0,#FF9E7E 50%,#FF9E7E 100%),
    -webkit-linear-gradient(#cce893 0,#cce893 50%,#cce893 100%);
    -webkit-background-size: 100%, 200px;
}
.box .title {
  color: #fff;
  opacity: .8;
}
