.code{border-bottom:1px dashed rgba(223,81,76,.85);line-height:1.6;}
.header input{line-height:1.3;margin:3px;top:2px;left:45%;}
/*jump*/
/*.jump, input[type="radio"]{display:inline;}*/
.jump, #input4{display:inline;}
.jump{height:75px;line-height:1.6;width:80%;}
.jump4{border:1.5px double rgba(77,149,199,.85);padding:10px;}
/*radio*/
label{background:rgba(119,180,227,.65);flex-direction:column;}
.radio{display:flex;flex-direction:column;}
.radio input[type="radio"]{-webkit-appearance:none;appearance:none;background:rgba(235,193,215,.55);border:.25rem dotted rgba(208,201,31,.75);height:100px;width:100px;align-items:flex-start;}
.radio input[type="radio"]:checked{background:rgba(228,38,110,.55);transform:rotate(-30deg);}
.radio input[type="radio"]::after{display:none;height:60px;width:60px;position:absolute;}
.radio input[type="radio"]::after:checked{color:rgba(96,9,64,.85);content:'Hello!';}
