body{background-image:repeating-linear-gradient(top, rgba(247,83,140,.25) 0, rgba(247,83,140,.25) 4.5px, rgba(91,146,229,.65) 4.5px, rgba(91,146,229,.65) 13.5px), repeating-linear-gradient(right, rgba(255,255,102,.65), rgba(255,255,102,.65) 10px, transparent 10px, transparent 20px);margin:auto 0;}
.fixed{background:rgba(57,53,255,.75);bottom:0;position:fixed;border-top:1px solid rgba(247,83,140,.95);margin-top,margin-bottom:20px;}
.none{color:rgba(247,83,148,.95);font-size:20px;font-weight:bold;text-align:center;text-decoration:none;}
/*flex-item-setting*/
.container{display:flex;}
.flex-item{flex-wrap:nowrap;}
.main{flex:1 1 150px;background:rgba(251,255,53,.75);}
.nav .nav-left{flex:1 1 45%;background:rgba(255,57,53,.75);}
.nav .nav-right{flex:1 1 55%;background:rgba(53,251,255,.75);}
/*item-setting*/
.nav-left-item,.nav-right-item{color:rgba(255,32,82,.85);font-size:16px;list-style:none;text-align:center;padding:2.5px 1.5px;position:relative;}
.nav-left-item{border:1px double rgba(132,132,130,.75);display:flex;flex-wrap:wrap;height:40px;left:0;width:40px;}
.nav-right-item{border:1px outset rgba(110,127,128,.55);height:45px;right:0;width:45px;}
/*item-effect*/
.item-y:hover{background:rgba(253,238,0,.85);}
