.none{font-size:bold;text-align:center;text-decoration:none;}
.block{display:block;border:5px solid rgba(245,105,145,.5);}
.justify{border:4.5px solid rgba(255,247,0,.5);position:relative;}
.align-item{align-item:flex-end;border:4.5px solid rgba(150,123,182,.5);}
.align-self{align-self:baseline;border:4.5px solid rgba(191,255,0,.5);}
.wrap{display:flex;flex-wrap:nowrap;border:4.5px solid rgba(253,213,177,.5);}
