.flex{display:flex;flex-direction:column;flex-wrap:nowrap;border:1px solid rgba(243,245,19,.95);height:25%;top:5%;width:200px;}
.none{font-size:20px;font-weight:normal;text-align:center;text-decoration:none;}
.feature,.task{display:flex;flex-wrap:wrap;width:90px;margin:2px auto;border:1px solid rgba(253,19,68,.95);border-radius:5px;}
.feature{height:60px;}
.justify{justify-content:space-around;}
.task{height:30px;}
