body{background:#fef1e6;}
.container{background:#ffaea8;border:1em solid #eee;position:absolute;height:566px;width:800px;display:flex;left:15%;right:15%;top:5%;}
/*.header, .footer{flex: 1 100%;background:dark cyan;position:relative;}*/
.container{
  padding: 0;margin: 0;list-style: none;height: 200px;flex-flow:row wrap;align-items:baseline;
}
.flex{color:white;font-weight:bold;text-align:center;}
.footer,.header{background:#f0f;position:fixed;height:100px;width:100px;border-radius:100%;font-size:2em;margin:1em auto;}
.footer{bottom:5%;right:5%}
.grid{
  margin:20px;padding: 50px;width: 100px;border: 3px solid rgba(0,0,0,.2);font-size: 2em;}
.header{top:5%;left:5%;}
.none{text-decoration:none;}
/*variation*/
/*.footer::before{background:#5acfcf;position:block;height:40px;width:80px;border-radius:0 0 40px 40px;z-index:5;}*/
.footer,.container{background-image:linear-gradient(63deg, #f8f8f8 5px, transparent 5px) 0 5px,
linear-gradient(243deg, #f8f8f8 5px, transparent 5px) 10px 0px,
linear-gradient(63deg, #f0f0f0 5px, transparent 5px) 0px 10px,
linear-gradient(243deg, #f0f0f0 5px, transparent 5px) 10px 5px,
linear-gradient(0deg, #f6f6f6 10px, transparent 10px),
linear-gradient(#f2f2f2 25%, #f3f3f3 25%, #f3f3f3 50%, transparent 50%, transparent 75%, #f4f4f4 75%, #f4f4f4);}
