*{box-sizing:border-box;margin:0;padding:0;}
a,body,.none{color:rgba(255,255,255,.95);list-style:none;text-decoration:none;}
body{background:radial-gradient(circle, rgba(254,202,88,.75) 20%, rgba(255,131,0,.85));font-weight:large;line-height:1.8;margin:1.5;}
/**/
