body{
  margin: 0;height: 50%;
  background-color: rgba(247,202,201,.65);
}
.pack{
  display:flex;/*display: inline-box;*/
  height: 100%;margin: 0;position: relative;width: 160px;
  background-color: #92a8d1;
}
.pack ul{flex-wrap:wrap;padding:1.5px 5px;}
.pack ul li:nth-child(2n){background:rgba(255,183,197,.5);}
.row1{background:rgba(127,255,0,.5);}
.row3{background:rgba(255,167,0,.5);}
.face {
  background-color: rgba(247,201,246,.85)/*#f0f4f8*/;
  font-family: sans-serif, bold, #d1bb92;z-index: 1;
}
.face .left {height: 50px;width: 50px;position: absolute;top:0;left:150px;border-radius: 30% 45%;}
.face .right {height: 250px;width: 250px;position: absolute;right:0;bottom:0;border-radius: 100%;}
.mark {background-color: #a3a3a3;/*font-family: sans-serif, bold, #d192a8*/;}
.slogan{color:rgba(201,246,247,.85);font-family:sans-serif;}
