body{background:rgba(252,209,67,.75);margin:0 auto;}
.footer{background:rgba(184,144,160,.65);bottom:30%;height:200px;margin:10px;position:fixed;width:98.5%;}
.none{color:rgba(116,78,88,.95);font-weight:bold;line-height:1.5;text-decoration:none;}
.section{border:1.5em dashed rgba(239,141,38,.85);display:block;left:10vw;margin:10px;}
