.wave{position:absolute;bottom:calc((100% + 30px)/2);right:calc((100% + 30px)/2);height:200px;width:200px;border-radius:50%;}
.wave0{
  background:#f00;z-index:2;background-size:auto 106%;-webkit-animation:w 1s forwards;
}
