code{background:rgba(141,182,0,.85);border-radius:30px;margin:3px;padding:5px;text-weight:bold;}
#C1,.#C2,#C3{border:1px dotted rgba(0,128,0,.95);}
header h2{border-bottom:1px solid rgba(248,146,121,.95);}
nav{margin:5px;}
