.none{font-size:bold;text-decoration:none;background:rgba(153,102,204,.5);border-radius:30%;}
.inline{display:flex;border:5.5px solid rgba(164,198,57,.5);align-self:flex-start;}
.align-right:{margin-left:auto;background:rgba(255,3,62,.5);}
