body{background:rgba(255,248,231,.85);}
.box{display:block;border:2.5px solid rgba(255,253,208,.85);background:rgba(220,20,60,.85);height:80px;margin:5px;width:60px;}
.flex{display:flex;flex-wrap:wrap;flex-direction:column;flex:1 2 auto;background:rgba(251,236,93,.85);border:4.5px solid rgba(154,206,235,.85);height:150px;width:85%;margin:5px;padding:0;}
.none{color:rgba(100,149,237,.85);font-weight:bold;line-height:18px;text-align:center;text-decoration:none;}
