body {
  background-color:#fff;
  background-image: linear-gradient(90deg, transparent 0, #cce893 50%, transparent 25%, #cce893 25%), linear-gradient(90deg, #ff9e7e 50%, transparent 50%);
    -webkit-background-size: 30px, 60px;
}
