.heading {color:#00bfff;} /*heading*/
.list {background:#ffc000;};.list-wrap {background:#ffffeb;} /*list*/
.button {background:#ff0040;color:transparent;} /*button*/
.frame-base {background:transparent;} /*frame*/
/*the above are the basic must-have template whenever I need to retro later*/
