.bgc{background:rgba(244,194,194,.65);line-height:1.65;margin:3px 2px;padding:2px 3px;}
body{background:rgba(254,251,217,.35);margin:0 auto;}
.flex{display:flex;justify-content:center;}
.footer{background:rgba(254,251,217,.85);bottom:5.5%;height:100px;margin:10px;position:fixed;right:7.5%;width:120px;}
.footer .none{font-weight:bold;text-align:center;}
.h{color:rgba(164,144,86,.75);font-weight:bold;line-height:3.5;}
.highlight{background:rgba(233,87,63,.85);color:rgba(243,243,243,.85);}
.none{color:rgba(192,177,135,.75);font-size:18px;line-height:2.5;text-decoration:none;}
.section{background:rgba(242,242,242,.65);border-bottom:1.3px dashed rgba(84,48,53,.75);margin:20px;}
