body{border:2px solid rgba(35,41,122,.5);display:inline-flex;flex-wrap:wrap;height:493px;vertical-align: top;width:822px;}
.gallery{border:1.5px solid rgba(255,140,105,.8);flex-direction:column;width:120px;height:180px;}
.header{border:1px solid rgba(255,145,164,.5);margin:5px 5px 40px;}
.wrap{background:rgba(255,253,208,.4);border:3px solid rgba(8,69,126,.4);margin:10px;padding:40px 50px;display:inline-flex;}
.pop{background:rgba(231,254,255,.5);border:1px solid rgba(100,149,237,.5);flex-wrap:wrap;height:180px;width:80px;margin:5px 5px 30px;vertical-align:top;}
