body{background:#848482;display: flex;height: 100vh;}
.div1{background:#89cff0;}
.div2{background:#a1caf1;}
.div3{background:#f4c2c2;}
.div4{background:#21abcd;}
.div5{background:#fae7b5;}
.footer{background:#ffe135;}
