.fixed-footer{background:rgba(236,255,77,.85);border:1.5px double rgba(255,111,105,.85);display:table-footer-group;height:10vh;margin:.05vh .25vw;width:98%;}
.none{color:rgba(46,48,63,.95);font-size:16px;font-weight:bold;text-align:center;text-decoration:none;}
