body {background:#ffc000; background-image:-webkit-linear-gradient(#efefef 1px, transparent 1px), -webkit-linear-gradient(#ffffe6, #ffc);background-position: 0 -1px, 0;font-family:sans-serif;}
.heading {color:#00bfff;} /*heading*/
.list {border-bottom:1px solid #ccc;border-top:1px solid #f0f;color:#4100ff; display:box; margin:30px 0;padding:20px;}
.list-item {box-align:center;box-sizing:border-box;display:box;min-height:40px;padding:2px 8px;}
.list-item:not(:last-child) {border-bottom:1px solid #0f0;}
.list-main {box-flex:1;}
.list-wrap {background:#ffffeb;margin:0 1.3em 0 0; position:relative;}
.list-image {display:inline-block;height:2em;line-height:2;padding:0 1em;text-decoration:none;} /*list*/
.button {background:transparent;color:#ff0040;} /*button*/
.frame-base {background:transparent;} /*frame*/
/*the above are the basic must-have template whenever I need to retro later*/
