body{background:rgba(47,47,47,.95);border:1.5px double rgba(253,238,0,.95);color:rgba(254,202,88,.95);line-height:18px;margin:5px;height:100%;}
form{width:100%;}
.footer a{color:rgba(254,204,90,.95);font-weight:20px;text-align:center;text-decoration:none;}
input{height:100px;width:100px;}
table{border:1px dotted rgba(228,207,180,.95);padding:5px;display:table;height:300px;width:400px;}
td{height:calc(100% / 4);}
td input:nth-child(odd){background:rgba(228,183,180,.85);}
td input:nth-child(even){background:rgba(180,225,228,.85);}
