.center{list-style:none;text-align:center;}
.cirlce{border-radius:50%;}
header .none{font-weight:300;}
.inline{display:inline;}
.none{color:rgba(85,8,11,.85);font-size:30px;font-weight:200;text-decoration:none;}
.wrapper{display:flex;height:300px;width:300px;}
