body{background-image:radical-gradient(470 25%, 20, 500 25%, 40, from(1,68,33,.85), to(60,208,112,.85)) rgba(217,0,76,.85);}
.fixed{position:fixed;height:10vh;width:98%;}
.fixed .fixed-footer{bottom:5vh;}
.fixed .fixed-nav{background:rgba(102,2,60,.65);top:10vh;}
.none{color:rgba(244,244,245,.85);font-size:bold;text-align:center;text-decoration:none;}
/*box-setting*/
.container{align-self:baseline;background:rgba(48,213,200,.85);display:flex;flex-wrap:nowrap;margin:1px 0.5px;}
