a,none{color:rgba(255, 217, 180,.95);list-style:none;text-align:center;text-decoration:none;}
body{background:radial-gradient(50% 40%, rgba(47,254,138,.25) 0, rgba(47,254,138,.65) 100%);display:flex;margin:0;padding:0;}
