body{background:rgba(191,255,0,.8);}
.none{color:rgba(50,205,50,.8);font-size:bold;text-decoration:none;}
.drawer-nav{display:block;right:-100px;background:rgba(25,89,5,.5);position:absolute;top:0;height:100%;width:50%;font-family:Helvetica,Arial,sans-serif;padding: 0rem 0rem 0rem 3.125rem;z-index:999;line-height:1.3em;font-size:0.75em;}
.container{position:relative;max-width: 37.5rem;}
.drawer-nav ul:first-child {padding-top: 100px;padding-top: 6.25rem;}
ul{list-style:none;margin:0;padding:0;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;-webkit-padding-start: 40px;}
.drawer-nav ul li{display: list-item;text-align: -webkit-match-parent;}
.drawer-nav ul{border-bottom:1px solid rgba(255,153,153,.8);margin-bottom:1.25rem;}
.close{right:40%;position:absolute;font-size:12px;top:1.75rem;line-height:27px;vertical-align:middle;}
.header-sprite{height:20px;width:20px;background:rgba(255,182,193,.8);display:inline-block;}
