body{background:rgba(141,182,0,.85);margin:0 auto;}
.card{height:100%;position:absolute;transform-style:preserve-3d;transition:transform 1s;width:100%;}
.container{background:rgba(111,182,0,.85);height:260px;perspective:800px;position:relative;width:200px;}
.section{display:flex;flex-wrap:wrap;height:150px;margin:5px;width:300px;}
.figure{display:block;margin:0;position:absolute;backface-visibility:hidden;height:100%;width:100%;}
.fixed{bottom:1%;position:fixed;}
.footer{background:rgba(96,182,0,.85);height:180px;width:260px;}
.none{text-decoration:none;}
.word{color:rgba(41,0,182,.85);}
