body{
  margin: 0;
  height: 50%;
  background-color: #f7cac9;
}
.pack{
  display: inline-box;
  height: 90%;
  margin: 0;
  position: relative;
  width: 120px;
  background-color: #92a8d1;
}
.face {
  background-color: #f0f4f8;
  font-family: serif, #d1bb92;
  z-index: 1;
}
.face .left {
  height: 50px;
  width: 50px;
  position: absolute;
  top:0;
  left:150px;
  border-radius: 30% 45%;
}
.face .right {
  height: 250px;
  width: 250px;
  position: absolute;
  right:0;
  bottom:0;
  border-radius: 100%;
}
.mark {
  background-color: #a3a3a3;
  font-family: sans-serif, bold, #d192a8;
}
