body{background:rgba(255,255,255,.85);margin:0 auto;}
canvas{border:.125rem dotted rgba(0,15,70,.75);}
code{background:rgba(178,222,189,.75);color:rgba(214,15,116,.85);font-size:22px;line-height:30px;}
.footer,.header{font-weight:normal;text-align:center;}
.footer{background:rgba(221,97,107,.55);font-size:18px;height:50px;width:960px;}
.header{background:rgba(249,248,253,.85);font-size:50px;height:47px;line-height:36px;width:1100px;}
.none{color:rgba(136,31,137,.85);font-family:'Source Sans Pro',sans-serif;text-decoration:none;}
.section{background:rgba(251,251,251,.85);border:.25rem dotted rgba(248,112,112,.85);width:1100px;}
