body {
  background-color:#fff;
  background-image: linear-gradient(90deg, #cce893 50%, transparent 50%), linear-gradient(90deg, #ff9e7e 50%, transparent 50%);
    -webkit-background-size: 40px, 20px;
}
.line {
  background-color:#ffbbbf;
  border:0;
  height:1px;
  position:relative;
}
.line::before,
.line::after {
  background-color:#f0f;
  content:'';
  display:block;
  height:1px;
  position:relative;
  width:100%;
}
.line::before {
  top:-2px;
}
.line::after {
  top:2px;
}
.bow {
  display: -webkit-flex;
  display: flex;
  background:rgba(253,238,0,.3);
  padding:20px;
  height:150px;
  width:100%;
}
.square {
  bottom:0;
  -webkit-box-pack:center;/*Difference between display:(inline|block) and display:box?*/
  left:0;
  height:10px;
  margin:0 1.3em 0 0;
  position:relative;
  width:75%;
  z-index:1;
  background-color: #60C8E7; 
  background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#f0f .1em, transparent .1em);
  background-size: 100% 1.2em;
  border-radius:5px;
}
.slash {
  bottom:0;
  display:inline-box;
  left:0;
  height:50px;
  margin:0 1.3em 0 0;
  position:relative;
  width:25%;
  background-color: #60C8E7; 
  background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#f0f .1em, transparent .1em);
  background-size: 100% 1.2em;
  border-radius:50%;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  z-index:-1;
}
.middle {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}
.slash {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
}
.square {
  -webkit-flex: 1;
          flex: 1;
}
