body{background:rgba(255,250,250,.8);font-family: 'Tangerine', sans-serif;font-size: 36px;}
.body{font-weight:bold;text-align:center;border:5px solid rgba(238,230,0,.5);}
.none{color:rgba(16,12,8,.7);text-decoration:none;}
.list-wrap{border-bottom:10px solid rgba(255, 34, 122, .8);}
/*list-arrow*/
.list-arrow{padding-right:24px;position:relative;border:5px dotted rgba(216,191,216,.8);}
.list-arrow::after{content:'';border-right:20px solid rgba(252,137,172,.8);border-top:20px solid rgba(10,186,181,.8);display:inline-block;height:80px;margin:-40px 0 0;position:absolute;right:10px;top:50%;transform:rotate(45deg);width:80px;}
/*list-link*/
.list-link{color:rgba(224,141,60,.7);text-decoration:none;}
.list-link:hover{background:rgba(219,215,210,.5);}
