.container li{position:relative;border:1px double rgba(236,255,77,.85);height:100px;width:100px;}
.container label{background:rgba(254,202,88,.85);border:1px solid rgba(252,169,65,.95);display:block;height:100px;width:200px;}
.none{cursor:pointer;font-size:20px;font-weight:normal;list-style:none;text-align:center;text-decoration:none;}
.wrapper span{background:rgba(115,206,66,.85);border:1px solid rgba(98,143,37,.95);display:block;height:200px;width:100px;position:absolute;top:0;}
