.container{background:rgba(255,168,18,.85);display:flex;flex-wrap:nowrap;height:500px;width:500px;position:absolute;margin-top:0;margin-left:120px;}
body{background:repeating-radial-gradient(circle, rgba(72,60,50,.5), rgba(72,60,50,.5) 10px, rgba(239,48,52,.45) 10px, rgba(39,48,52,.45) 25px, rgba(204,78,92,.85) 25px, rgba(204, 78,92,.55) 30px);}
