.fixed{background:rgba(0,128,255,.85);display:fixed;line-height:1.5px;padding:20px auto;width:98%;}
.none{color:rgba(255,255,0,.95);font-size:xx-large;font-weight:bold;text-align:center;text-decoration:none;}
