.oh{height:100px;margin:0;position:relative;width:100px;}
.oh img{background-position:center center;background-size:cover;background-repeat: no-repeat;}
.section{border:1.5em double rgba(242,142,152,.85);height:600px;width:50%;top:20%;left:20%;}
