body{background:rgba(255,245,238,.8);font-family: 'Tangerine', serif;font-size: 48px;}
.flex{border:10px solid rgba(203,65,11,.8);height:250px;margin-left,margin-right:10px;padding:10px;width:320px;}
.none{font-weight:bold;text-align:center;text-decoration:none;}
