body{
  background:#fffdd0;
}
.container{
  border:20px #cc00cc;
  height:500px;
  margin:0;
  padding:0;
  position:flex;
  width:400px;
}
.footer{
  border:2px #cc00cc;
  bottom:0;
  height:200px;
  margin:0;
  padding:100px #f0f;
  position:absolute;
  right:0;
  width:400px;
}
.none{
  color:white;
  font:bold 100%/1.8em cursive;
  text-align:center;
  text-decoration:none;
}
.none:link,.none:visited{
  color:#ff1493;
  text-decoration:none;
}
