.inline-flex{border:5.5px dotted rgba(144,238,144,.6);display:inline-flex;line-height:80px;}
.none{font-size:bold;text-align:center;text-decoration:none;color:rgba(245,105,145,.6);}
.justify{border:5.5px solid rgba(230,103,113,.5);justify-content:space-between;width:60px;}
