body {background:#ebebeb;}
.block {width:1260px;margin:00px auto;font: 13px/18px "Lucida Sans", Helvetica, Arial, sans-serif;background:#fff68f;position:relative;}
.h1{font: bold 16px/16px "Lucida Sans", Helvetica, Arial, sans-serif;}
.header {position:relative;top:0;}
.nav {left:0;position:relative;background:#add8e6;}
.main {position:relative;right:0;}
/*wrapper*/
.wrapper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-1, .main-2, .main-3 {
  flex: 1 1 100px;
  box-sizing: border-box;
  padding: 1em;
  min-width: 1%;
  background:#e6f6f3;
  border:#99c8ec;
}
/*main-2*/
.main-2 {color:#4584dc;padding:0 2em;position:relative;}
.main-2::before,.main-2::after {background:#ffaea8;border-radius:50%;color:#f0f;font-weight:bold;height:1.5em;line-height:1.5;position:relative;text-align:center;width:1.5em;}
.main-2::before {content:"\201C";left:0;top:0;}
.main-2::after {bottom:0;content:"\201D";right:0;}
.links {background:#e6bbad;position:relative;left:0;}
.footer {bottom:0;background:#000;position:relative;}
/*above are main structures*/
/*set for title text*/
.box {border:1px solid #add8e6;height:200px;margin:20px;position:relative;width:300px;}
.title {font-size:3em;position:absolute;line-height:1;margin-top:-.5em;text-align:center;top:50%;width:100%;}
/*set for note*/
.mark1 {background-color:#ff7b24;position:relative;}
.mark1::before,
.mark1::after {background-color:#ff7b24;content:'';height:1.1em;position:absolute;transform:skew(10deg);width:1em;z-index:-1;}
.mark::before {left:-.2em;top:0;}
.mark::after {right:-.2em;bottom:0;}
.mark2 {background-image:-webkit-linear-gradient(transparent 31%, #81d8d0, #81d8d0 61%, transparent 61%);}
.mark4 {border-bottom:2px solid #800080;border-top:2px solid #800080;}
